/* GAME STYLES */

.game-container {
  width: min-content;
  height: min-content;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
}

.game-container .cell {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: transparent;
  user-select: none;
  transition: 200ms;
  border: 5px solid transparent;
}

.game-container .cell:nth-child(even) {
  background-color: var(--cell-light);
}

.game-container .cell:nth-child(odd) {
  background-color: var(--cell-dark);
}

.game-container .cell:hover {
  opacity: 0.8;
}

.game-container .cell.revealed {
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.8;
}

.game-container .cell.revealed.mine {
  background-color: var(--mine);
  opacity: 1;
}

.game-container .cell.flagged {
  border-color: var(--flag);
  opacity: 1;
  cursor: not-allowed;
}
