.header {
  display: flex;
  align-items: center;
  padding: 50px;
}

.header__item {
  font-weight: unset;
  margin-left: 10px;
  color: var(--text);
  text-transform: uppercase;
}

.header__item span {
  color: var(--text-light);
}

.header__title {
  margin: 0;
  line-height: 1;
  margin-right: auto;
  text-transform: none;
}

/* GAME STYLES */

.game-container {
  width: min-content;
  height: min-content;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 5px;
  user-select: none;
}

.game-container .cell {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: transparent;
  transition: 200ms;
  border: 5px solid transparent;
}

.game-container .cell:nth-child(even) {
  background-color: var(--cell-light);
}

.game-container .cell:nth-child(odd) {
  background-color: var(--cell-dark);
}

.game-container .cell:hover {
  opacity: 0.8;
}

.game-container .cell.revealed {
  color: var(--text-light);
  cursor: not-allowed;
  background-color: var(--cell-revealed);
}

.game-container .cell.revealed.mine {
  background-color: var(--mine);
  opacity: 1;
}

.game-container .cell.flagged {
  color: var(--text-light);
  opacity: 1;
  cursor: not-allowed;
}
