* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.game-container {
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
}

.game-container .cell {
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: transparent;
  user-select: none;
  transition: 200ms;
  border: 5px solid transparent;
}

.game-container .cell:nth-child(even) {
  background-color: #59b054;
}

.game-container .cell:nth-child(odd) {
  background-color: #48854b;
}

.game-container .cell:hover {
  opacity: 0.8;
}

.game-container .cell.revealed {
  color: #ffffff;
  cursor: not-allowed;
  opacity: 0.8;
}

.game-container .cell.revealed.mine {
  background-color: #e33838;
  opacity: 1;
}

.game-container .cell.flagged {
  border-color: #e33838;
  opacity: 1;
  cursor: not-allowed;
}
